# Windows thumbnail cache files
Thumbs.db

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Python precompiled files and bak files
*.pyc
*.py.bak

#Project build folder
Build/

#Variables file
.env

#Archives
*.zip
